/* navigation bar for the page  */
.header{
    background-image: url(/images/developer.png);
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
}

.text-r{
    color: #FD6E0A;
}

.nav-tabs > ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-tabs > ul >li{
    list-style: none;
}

.nav-tabs > ul > li> a{
    text-decoration: none;
}

.nav-tabs{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
}

/* banner container  */

.banner-container{
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 60%;
    margin-top: 4rem;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.banner-content{
    margin-left: 8%;
}

.banner-sub-title{
    color: #474747;
}

.banner-description{
    color: #757575;
    margin-bottom: 2rem;
}

.banner-btns{
    display: flex;
    gap: 1rem;
}

.banner-btn1{
    background-color: #FD6E0A;
    display: flex;
    align-items: center;
    color: white;
    gap: 3px;
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
}

.banner-btn2{
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.banner-title{
    font-size: 2rem;
}

.banner-img{
    margin-right: 5%;
}

.banner-img > img{
    width: 100%;
}